<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&family=Shippori+Antique+B1&display=swap');
</style>

.logo{
	font-family: 'Shippori Antique B1', sans-serif;
}

.logo-other-pages{
	font-family: 'Shippori Antique B1', sans-serif;
	font-size: 5px;
}

.login-card{
	margin-left:33%;
	margin-top: ;
}

.signup-form{
	
}