<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Shippori+Antique+B1&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Shippori Antique B1', sans-serif;*/

.logo{
	font-family: 'Shippori Antique B1', sans-serif;
}

.logo-other-pages{
	font-family: 'Shippori Antique B1', sans-serif;
	font-size: 5px;
}

.login-card{
	margin-left:33%;
	margin-top: ;
}

.signup-form{
	font-family: 'Open Sans', sans-serif;
}
.sidebar-font a{
	font-family: 'Shippori Antique B1', sans-serif;
}
</style>